{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": false,
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "target": "esnext",
        "loose": false,
        "externalHelpers": true,
        "keepClassNames": true,
        "baseUrl": "./src",
        "experimental": {
            "plugins": [
                [
                    "swc-plugin-import-extension-resolver",
                    {}
                ]
            ]
        }
    },
    "minify": false,
    "module": {
        "type": "es6"
    },
    "exclude": [
        "__test__"
    ]
}